 body {

  /* more on this crazy alphanumerical value in a minute! */

     font-family: Helvetica, Arial, sans-serif;
     color: white;
}


* {
margin: 0;
padding: 0;
} 
 


header {
padding: 20px 35px;
background-color: rgb(116, 180, 182);
}


header h1 {
font-weight: bold;
font-size: 36px;
color: white;
margin: 0;
display: inline;
}

header a {
text-decoration: none;
color: white;
}

header nav {
float: right;
margin: 7px 0;
}

header nav ul li {
display: inline;
}

header nav ul li a {
margin: 0 30px;
font-weight: lighter;
font-size: 22px;
}

.intro {
padding: 50px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: rgb(22, 170, 175);
color: #ffffff;
}

.intro h2 {

  font-size: 45px;
  

}

.intro img {
  max-height: 300px;

}

.intro p {
  font-size: 18px;
}



.float-left {
  float: left;
  margin-right: 160px;
  margin-left: 65px;
}



.flex-container {
  display: inline-flex;
  margin-top: 20px;
  margin-left: 300px;
}

.mid-title {
 padding: 30px;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgba(59, 168, 172, 0.795);
  color: #ffffff;
 
}


.column {
  padding: 0 5px;
  
}




/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: rgb(169, 226, 221);
  }


  

.hero {  
height: 400px;
background-image: url("../images/flower\ background.jpg");
}


.contact-me {
font-size: 30px;
text-align: center;
background-color: rgb(22, 170, 175);


}





.footer {

background-color: rgb(116, 180, 182);
width: 100%;
padding: 10px 15px;
}

.icons { 
  text-align: center;
  margin-top: 2em;
}


/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  }
    
    /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
    
    /* Set a specific color for each brand */
    
  /* Facebook */
  .fa-facebook {
  background: #3B5998;
  color: white;
  }

  
  
  .fa-linkedin {
  background: #007bb5;
  color: white;
  }
  
  .fa-instagram {
  background: #125688;
  color: white;

  }
    

 


