
 body {
  /* more on this crazy alphanumerical value in a minute! */
     background-color: var(--primary-color);
     font-family: Helvetica, Arial, sans-serif;
     color: white;
}


* {
  margin: 0;
  padding: 0;
  } 
 
:root {
--primary-color:#0D98BA;
--secondary-color:#ACC6C2; 
--teritiary-color: white;
}


header {
padding: 20px 35px;
background-color: var(--primary-color);
}


header h1 {
font-weight: bold;
font-size: 36px;
color: white;
margin: 0;
display: inline;
}

header a {
text-decoration: none;
color: white;
}

header nav {
float: right;
margin: 7px 0;
}

header nav ul li {
display: inline;
}

header nav ul li a {
margin: 0 30px;
font-weight: lighter;
font-size: 22px;
}

.intro h2 {
color: white;
font-size: 200%;
text-align: center;
margin-bottom: 3em;
font-size: 35px;
}

.intro p {
  color: white;
  text-align: justify;
}

.intro {
    padding: 4em;
    grid-gap: 5em;
    margin-right: 10em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greece {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
}

.mid-title {
  text-align: center;
  font-size: 35px;
}
.mid-title h2 {
  font-size: 35px;
}



.middle {
  color: white;
  text-align: center;
  text-emphasis: none;
  display: flex;
}



.work-portfolio {
  display: inline-flex;
}

.run-buddy-website {
  margin-top: 3em;
  width: 300px;

}

.run-buddy-website p {
  color: white;
}

.task-website {
  width: 300px;
}

.horiseon-website {
  width: 300px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 4em;
  transition: 0.3s;
  display: inline flex;
  background-color: var(--primary-color);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


li a:hover {
background-color: var(--secondary-color);
padding: 14px 16px;
text-decoration: none;
} 

  .hero {  
    height: 400px;
    background-image: url("../images/flower\ background.jpg");

  }

/* Style all font awesome icons */
.fa {
padding: 20px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
}
  
  /* Add a hover effect if you want */
  .fa:hover {
  opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
.fa-facebook {
background: #3B5998;
color: white;
}
  
  /* Twitter */
.fa-twitter {
background: #55ACEE;
color: white;
}


.fa-linkedin {
background: #007bb5;
color: white;
}

.fa-instagram {
background: #125688;
color: white;
}
  
.outro h2 {
text-align: center;
margin-bottom: 2em;
margin-top: 2em;
font-size: 35px;
}

  .outro p{
  text-align: center;
  color: white;
}

footer {
margin-top: 2em;
background: var(--secondary-color);
width: 100%;
padding: 20px 35px;
}
 
footer h2 {
  text-align: center;
}
